.validation-error {
  color: var(--p-red-300);
  margin-bottom: 1rem;
}

.hero-image {
  clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-to-top-btn.visible {
  opacity: 1;
  visibility: visible;
}
