<div class="container-full">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <p-image
        src="assets/images/joystick.png"
        alt="Game bar logo image"
        height="100"
        class="mb-3" />
      <div class="text-900 text-3xl font-medium mb-3">Welcome to Game Bar</div>
      <span class="text-600 font-medium line-height-3">Don't have an account?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
    </div>

    <div>
      <label
        for="email"
        class="block text-900 font-medium mb-2"
        >Email</label
      >
      <input
        id="email"
        type="text"
        [formControl]="authForm.controls.email"
        placeholder="Email address"
        pInputText
        [ngClass]="{
          'ng-invalid ng-dirty': authForm.controls.email.invalid && authForm.controls.email.touched,
        }"
        class="w-full mb-3" />

      @if (authForm.controls.email.invalid && authForm.controls.email.touched) {
        <div class="validation-error">email is required</div>
      }

      <label
        for="password"
        class="block text-900 font-medium mb-2"
        >Password</label
      >
      <input
        id="password"
        type="password"
        [formControl]="authForm.controls.password"
        placeholder="Password"
        pInputText
        [ngClass]="{
          'ng-invalid ng-dirty':
            authForm.controls.password.invalid && authForm.controls.password.touched,
        }"
        class="w-full mb-3" />

      @if (authForm.controls.password.invalid && authForm.controls.password.touched) {
        <div class="validation-error">proper password is required</div>
      }

      <div class="flex align-items-center justify-content-between mb-6">
        <div class="flex align-items-center">
          <p-checkbox
            id="rememberme1"
            [binary]="true"
            styleClass="mr-2"></p-checkbox>
          <label
            for="rememberme1"
            class="text-900"
            >Remember me</label
          >
        </div>
        <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
          >Forgot password?</a
        >
      </div>

      <button
        pButton
        pRipple
        (click)="signIn()"
        label="Sign In"
        aria-label="Sign In"
        icon="pi pi-user"
        class="w-full"></button>
    </div>
  </div>
</div>
