<div
  class="surface-section px-4 py-8 md:px-6 lg:px-8"
  id="join-us">
  <div class="text-700 text-center">
    <div class="text-blue-600 font-bold mb-3">
      <i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD
    </div>
    <div class="text-900 font-bold text-5xl mb-3">Join Our Gaming Community</div>
    <div class="text-700 text-2xl mb-5">
      Connect with fellow gamers, share strategies, and stay updated on events and exclusive offers.
      Whether you're a casual player or a hardcore enthusiast, our Discord community is the perfect
      place to engage, explore, and have fun. Don’t miss out—be part of the action!
    </div>
    <button
      pButton
      pRipple
      label="Join Now"
      aria-label="Join Now"
      icon="pi pi-discord"
      class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
      (click)="openDiscord()"></button>
  </div>
</div>
