<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">Craft the Game Rooms</span>
      <div class="text-6xl text-primary font-bold mb-3">Your Players Crave to Explore</div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Experience unforgettable gaming moments in your own private room – where fun meets comfort
        and excitement.
      </p>
      <button
        pButton
        pRipple
        label="Get started"
        aria-label="Get started"
        type="button"
        class="mr-3 p-button-raised"></button>
      <button
        pButton
        pRipple
        label="Contact us"
        aria-label="Contact us"
        type="button"
        class="p-button-outlined"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="assets/images/hero.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)" />
  </div>
</div>
