<div class="p-6">
  <div class="text-700 font-bold text-6xl mb-4 text-center">Frequently asked questions</div>
  <p-accordion value="0">
    <p-accordion-panel value="0">
      <p-accordion-header>What types of games are available at the game bar?</p-accordion-header>
      <p-accordion-content>
        <p class="m-0">
          We offer a wide variety of games, including the latest video game titles on top-tier
          consoles, immersive virtual reality experiences, and a selection of classic and modern
          board games. There's something for everyone, whether you're a casual gamer or a hardcore
          enthusiast.
        </p>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="1">
      <p-accordion-header
        >Do I need to make a reservation to visit the game bar?</p-accordion-header
      >
      <p-accordion-content>
        <p class="m-0">
          Reservations are not required for general entry, but they are highly recommended for
          larger groups or during peak hours to ensure availability. You can easily book your spot
          online or by giving us a call.
        </p>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="2">
      <p-accordion-header>Are food and drinks available at the game bar?</p-accordion-header>
      <p-accordion-content>
        <p class="m-0">
          Absolutely! Our game bar features a delicious menu of snacks, meals, and beverages,
          including non-alcoholic options and cocktails. You can enjoy your food and drinks while
          you play.
        </p>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="3">
      <p-accordion-header>Can I host private events or parties at the game bar?</p-accordion-header>
      <p-accordion-content>
        <p class="m-0">
          Yes! We offer private game rooms and event packages for birthdays, corporate gatherings,
          and other special occasions. Contact us to customize your event and make it a memorable
          gaming experience.
        </p>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
