<div
  class="grid grid-nogutter surface-section text-800"
  id="about-us">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <h2 class="block text-6xl font-bold mb-1">Experience the Ultimate Game Bar</h2>

      <p class="mt-0 mb-4 text-700 line-height-3">
        Dive into an immersive gaming paradise at our Game Bar! Unwind with friends over the latest
        video games, classic board games, and exciting virtual experiences, all in a lively and
        welcoming atmosphere. Savor delicious bites and refreshing drinks while you play, creating
        unforgettable memories. Whether you're a casual gamer or a pro, our Game Bar is the ultimate
        destination for entertainment and fun.
      </p>
    </section>
  </div>
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <p-image
      src="assets/images/about1.jpg"
      alt="Image"
      width="400" />
  </div>
</div>

<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <p-image
      src="assets/images/about2.jpg"
      alt="Image"
      width="400" />
  </div>
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <h2 class="block text-6xl font-bold mb-1">Craft Your Ultimate Gaming Party</h2>

      <p class="mt-0 mb-4 text-700 line-height-3">
        Elevate your celebrations with our private game rooms! Perfect for parties, corporate
        events, or a special night out, our rooms feature cutting-edge gaming setups, cozy seating,
        and a wide variety of games to suit every taste. Customize your experience with tailored
        food and drink options, ensuring a seamless and unforgettable event. Book today and make
        your next gathering an epic adventure!
      </p>
    </section>
  </div>
</div>
