@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

:root {
  --font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
